@tailwind base;
@tailwind components;
@tailwind utilities;
/* slick-carousel.css */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* Custom styles for the previous (left) arrow */
.custom-prev-arrow {
  left: 3%; /* Adjust the left position as needed */
  z-index: 1; /* Ensure it's above the slider */
  position: absolute; /* Position it absolutely within the slider container */
  top: 50%; /* Vertically center the arrow */
  transform: translateY(-50%); /* Adjust vertical alignment */
  background-color: rgba(0, 0, 0, 0.5); /* Background color (optional) */
  color: white; /* Text color (optional) */
  padding: 8px 12px; /* Padding for the arrow button (optional) */
  border-radius: 50%; /* Make it round (optional) */
  cursor: pointer; /* Add a pointer cursor on hover (optional) */
}

/* Custom styles for the next (right) arrow */
.custom-next-arrow {
  right: 3%; /* Adjust the right position as needed */
  z-index: 1; /* Ensure it's above the slider */
  position: absolute; /* Position it absolutely within the slider container */
  top: 50%; /* Vertically center the arrow */
  transform: translateY(-50%); /* Adjust vertical alignment */
  background-color: rgba(0, 0, 0, 0.5); /* Background color (optional) */
  color: white; /* Text color (optional) */
  padding: 8px 12px; /* Padding for the arrow button (optional) */
  border-radius: 50%; /* Make it round (optional) */
  cursor: pointer; /* Add a pointer cursor on hover (optional) */
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
